
<div class="row" >
    <p class="depart">Mais vendidos</p>
    <div class="column" *ngFor="let produto of produtos">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" [src]="[produto.img]" alt="Card image cap" style="width:100%; height: 30%;">
        <div class="card-body">
          <p class="card-description">{{produto.descricao}} </p>
          <p class="card-price" >{{produto.preco}}</p>
          <button type="button" class="button" (click)="mudaPreco(produto)">Comprar</button>
        </div>
      </div>
    </div>
