<style>
    .header{
    background-color: #238080;
    font-family: 'Qwigley', cursive;
    font-size: 25px;
    margin-left: 0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    right: 0;
   }
   .titulo{
    margin:0px;
   }
   
   
</style>


<!DOCTYPE html>
<html lang="en" style="margin-top:0px;">

<head>
    <link href = "./app.component.scss" rel="style">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <meta charset = "utf-8"/>
    <title>TU Paper</title>
</head>
    
    <body style=" margin-top: 0px; margin-left: 35px; margin-right:0px;">
        <!-- <header  class="header">       
            <h1 class="titulo">TU Paper</h1>       
        </header>
        
        <div class="content">
            <router-outlet></router-outlet>
        </div> -->
        <app-cadastro></app-cadastro>
    </body>
</html>
